<%- include('./partials/header.ejs') %>
<title>Snyk Demo App</title>
</head>
<body>
  <%- include('./partials/topnav.ejs') %>
  <div>
    <h2 class="main__heading">Snyk Demo App</h2>
  </div>
  <div class="card__30">
    <div class="callback-page__success-box">
      <img class="snyk-con-img" src="/public/images/success_check.svg" alt="success" />
      <div>
        <h2 class="callback-page__success-text">Successfully connected to Snyk!</h2>
      </div>
      <div>
        <button class="button m1" onclick="location.href='/projects';">List Projects</button>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>
