<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="/css/callback.css" />
    <title>Snyk Demo App</title>
  </head>
  <body>

    <%- include('./partials/topnav.ejs') %>

    <div>
        <h2 class="snyk-main-headings">Snyk Demo App</h2>
      </div>
    <div class="snyk-center-box">
    <img class="snyk-con-img" src="/images/success_check.svg" alt="" />
    <div>
      <h2 style="margin-bottom: 1rem;">Success!</h2>
    </div>
    <button class="button" onclick="location.href='/projects';">List Projects</button>
</div> 


    </div>
    <%- include('./partials/footer.ejs') %>