<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="/css/callback.css" />
    <title>Snyk Demo App</title>
  </head>
  <body>
    <div class="snyk-top-nav">
      <a href="https://snyk.io"><img src="/images/snyk_logo.svg" alt="" /></a>
    </div>
<div class="snyk-success-container">
    <img class="snyk-con-img" src="/images/success_check.svg" alt="" />
    <div>
      <h2 class="snyk-main-headings">Success!</h2>
    </div>
</div> 

    </div>
    <%- include('./partials/footer.ejs') %>