<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/topnav.ejs') %>

  <div class="index-page">
    <div class="index-page__card">
      <h1 class="index-page__title">Page not found.</h1>
      <p class="index-page__description">Sorry we are unable to find the page you are looking for</p>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
