<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/topnav.ejs') %>

  <div class="index-page">
    <img class="index-page__snyk-logo" src="/public/images/snykLogoWithDog.svg" alt="snyk-logo" />
    <div class="index-page__card">
      <h1 class="index-page__title">Add Demo App</h1>
      <p class="index-page__description">Authorize this App to connect to your Snyk account.</p>
      <button class="button" onclick="location.href='/auth';">Install App</button>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
