<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <title>Snyk Demo App</title>
  </head>
  <body>
    <%- include('./partials/topnav.ejs') %>

    <div>
      <h2 class="snyk-main-headings">User Settings</h2>
    </div>
    <div class="snyk-center-box">
        <a class="snyk-button-main" href="">Change Permissions</a>

        <a class="snyk-button-main" href="">Uninstall App</a>
    </div>
    <%- include('./partials/footer.ejs') %>