.snyk-error-message{
    display: block;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(119.21deg, #7530A6 0%, #461D9E 100%);
    color: #FFFFFF;
    line-height: 4rem;
}

.snyk-error-img{
    width: 5rem;
    margin: auto;
}