* {
  padding: 0;
  margin: 0;
}

body, html{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}

.snyk-main-headings{
  margin-top: 13.5rem;
  color: var(--color-base-body);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
}
  
.snyk-center-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  padding: 4rem 3.2rem;
  border: 1px solid var(--color-neutral-84);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  width: 30%;
}

.snyk-con-img-container{
  margin: auto 1rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.snyk-con-img{
  margin: 1rem auto;
}