* {
  padding: 0;
  margin: 0;
}

body, html{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}

.snyk-main-headings{
  /* Page Title */
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: -1px;
/* Brand / Navy #1B1B3E */
color: #1B1B3E;
}
  
.snyk-center-box{
  border-radius: 10px;
  display: block;
  margin: 2rem auto;
  width: 20rem;
  padding: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(119.21deg, #7530A6 0%, #461D9E 100%);
  color: #FFFFFF;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  /* background: rgba(255, 255, 255, 0.5); */
}

.snyk-con-img-container{
  margin: auto 1rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.snyk-con-img{
  margin: 1rem auto;
}