.snyk-center-box{
    width: 50pc;
    height: 20pc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    grid-gap: 1rem;
}

.snyk-project-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    border: solid 1px #fff; 
    margin: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: #E5E5E5;
  color: black;
}

.snyk-project-holder:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-element{
    padding: 0;
    margin: auto 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
}