<footer class="snyk-main-footer">
  <div class="footer_left"><p>© 2021 Snyk Ltd.</p></div>
  <div class="footer_right">
    <a class="footer_link" href="">Updates</a>
    <a class="footer_link" href="">API Status</a>
    <a class="footer_link" href="">Vulnerbility DB</a>
    <a class="footer_link" href="">Blog</a>
    <a class="footer_link" href="">Documentation</a>
  </div>
</footer>
</body>
</html>