<footer class="snyk-main-footer">
  <div class="footer_left"><p>© 2023 Snyk Ltd.</p></div>
  <div class="footer_right">
    <a class="footer_link" href="https://updates.snyk.io/">Updates</a>
    <a class="footer_link" href="https://status.snyk.io/">API Status</a>
    <a class="footer_link" href="https://snyk.io/vuln">Vulnerbility DB</a>
    <a class="footer_link" href="https://snyk.io/blog/">Blog</a>
    <a class="footer_link" href="https://docs.snyk.io/">Documentation</a>
  </div>
</footer>
</body>
</html>
