<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Snyk Demo App</title>
  </head>
  <% if(loading) { %>
  <body>
    <div class="loading">Loading&#8230;</div>
  </body>
  <% } %>
</html>
