<!-- TODO add nav links and update select to be dynamic -->
<li class="sidebar-nav__item">
  <img class="sidebar-nav__icon" src="images/book-multiple.svg" alt="" />
  <p class="sidebar-nav__text" onclick="location.href='/projects';">Projects</p>
</li>
<li class="sidebar-nav__item sidebar-nav__item-selected">
  <img class="sidebar-nav__icon" src="images/cog.svg" alt="" />
  <p class="sidebar-nav__text" onclick="location.href='/settings';">Settings</p>
</li>
