<!-- TODO add nav links and update select to be dynamic -->
<li class="sidebar-nav__item sidebar-nav__item-selected">
  <img class="sidebar-nav__icon" src="../images/wrench.svg" alt="" />
  <p class="sidebar-nav__text" onclick="location.href='/admin';">Admin</p>
</li>
