<!-- TODO add nav links and update select to be dynamic -->
<li class="sidebar-nav__item sidebar-nav__item-selected">
    <img class="sidebar-nav__icon" src="/public/images/book-multiple.svg" alt="books" />
    <p class="sidebar-nav__text" onclick="location.href='/projects';">Projects</p>
  </li>
<li class="sidebar-nav__item">
  <img class="sidebar-nav__icon" src="/public/images/cog.svg" alt="cog" />
  <p class="sidebar-nav__text" onclick="location.href='/settings';">Settings</p>
</li>
