<div class="snyk-top-nav">
  <div class="top-left">
    <a href="/"><img src="/images/snyk_logo.svg" alt="" /></a>
  </div>
  <div class="top-right">
    <a href="/settings">Settings<img src="/images/snyk_settings.svg" alt="" /></a>
    <a href="/admin">Admin<img src="/images/snyk_admin.svg" alt="" /></a>
  </div>
</div>
