<header class="top-nav">
  <div class="top-nav__logo">
    <img class="top-nav__snyk" src="/public/images/snykLogo.svg" />
    <span class="top-nav__logo-secondary"> Apps</span>
    <h2 class="top-nav__logo-title">Admin Panel</h2>
  </div>
  <a class="button top-nav__button button-light" type="button" href="https://snyk.io/">
    Go to Snyk
  </a>
</header>
