<header class="top-nav top-nav__user">
  <div class="top-nav__logo">
    <h2 class="top-nav__logo-title">Demo App on Snyk</h2>
  </div>
  <button class="button top-nav__button" type="button" href="">Go to Snyk</button>
</header>
