<header class="top-nav">
  <div class="top-nav__logo">
    <h2 class="top-nav__logo-title">Demo App</h2>
    <span class="top-nav__logo-secondary">on </span>
    <img class="top-nav__snyk" src="images/snykLogo.svg" />
  </div>
  <button class="button top-nav__button" type="button" href="">
    Go to Snyk ->
  </button>
</header>
