<header class="top-nav top-nav__user">
  <div class="top-nav__logo">
    <h2 class="top-nav__logo-title">Demo App on</h2>
    <img class="top-nav__snyk" src="/public/images/snyk_logo_white.svg" />
  </div>
  <a class="button top-nav__button" type="button" href="https://snyk.io/">
    Go to Snyk
  </a>
</header>
